footer
  .follow
    p Follow us:
      a(href='https://www.facebook.com') Facebook
      a(href='https://www.instagram.com') Instagram
      a(href='https://www.tiktko.com') TikTok
      a(href='https://www.youtube.com') YouTube
  p Made with ❤️ by the StudyBuddy team