head
  meta(charset='utf-8')
  title Welcome to StudyBuddy, il tuo assistente allo studio
  meta(name='description', content='StudyBuddy: il tuo assistente universitario. Migliora l\'efficienza del tuo studio con la nostra innovativa tecnica del Pomodoro Flessibile. Gestisci meglio il tuo tempo e raggiungi i tuoi obiettivi. Provalo oggi!')
  meta(name='author' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(property='og:title', content='StudyBuddy')
  meta(property='og:type', content='website')
  meta(property='og:url', content='https://studybuddy.it')
  meta(property='og:image', content='https://studybuddy.it/assets/img/bg/sb.webp')
  meta(property='og:description', content='StudyBuddy: il tuo assistente universitario. Migliora l\'efficienza del tuo studio con la nostra innovativa tecnica del Pomodoro Flessibile. Gestisci meglio il tuo tempo e raggiungi i tuoi obiettivi. Provalo oggi!')
  meta(property='og:site_name', content='StudyBuddy')
  link(rel='stylesheet' href='./style/main.css')
  link(rel="icon" href="./../assets/favicon.ico" type="image/x-icon")
  script(src='https://www.googletagmanager.com/gtag/js?id=G-FR9JDD39YJ')
  script(type='module' src='./script/main.js')
  script.
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3675434,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  script(src='https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js')
  script( src='./script/app.js')
  //- script(type='application/ld+json').
  //- {
  //-   "@context": "https://schema.org",
  //-   "@type": "Organization",
  //-   "name": "StudyBuddy",
  //-   "url": "https://studybuddy.it",
  //-   "logo": "https://studybuddy.it/logo.png",
  //-   "contactPoint": {
  //-     "@type": "ContactPoint",
  //-     "email": "info@studybuddy.it",
  //-     "contactType": "Customer service"
  //-   },
  //-   "sameAs": [
  //-     "https://www.instagram.com/studybuddy.ita/",
  //-     "https://www.linkedin.com/company/studybuddio/about/"
  //-   ]
  //- }
  
