head
  meta(charset='utf-8')
  title Welcome to StudyBuddy
  meta(name='description' content='StudyBuddy è il tuo tool per il meta-studio')
  meta(name='author' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./style/main.css')
  link(rel="icon" href="./assets/favicon.ico")
  script(src='https://www.googletagmanager.com/gtag/js?id=G-FR9JDD39YJ')
  script(type='module' src='./script/main.js')
  script(src='./script/hotjar.js')
