nav.main-navbar
  .wrapper
    a(href="/").menu-section.logo
      img(src='../assets/bg/sb.png')
      p StudyBuddy 
        span.beta BETA
    .menu-section.menu
      a(href='#pomoflex') Pomoflex
      a(href='#values') Values
      a(href='#team') Team
    .menu-section.survey
      a.btn.btn-primary.btn-login(id = 'btn-login', onclick = 'login()') Accedi alla Beta