nav.main-navbar
  .wrapper
    .menu-section.logo
      img(src='../assets/bg/sb_icon.png')
      p StudyBuddy
    .menu-section.menu
      a(href='#main') Missione
      a(href='#main') Chi siamo
      a(href='#main') Dove siamo