nav.main-navbar
  .wrapper
    a(href="#studybuddy").menu-section.logo
      img(src='../assets/img/bg/sb.webp', alt='logo', width='50', height='50', loading='lazy')
      p StudyBuddy 
        span.beta BETA
    .menu-section.menu
      a(href='#pomoflex') Timer
      a(href='#values') Principi
      a(href='#team') Team
    .menu-section.survey
      a.btn.btn-primary.btn-login(id = 'btn-login1', href = 'https://test.studybuddy.it', target='_blank') Accedi alla Beta

a(href='#studybuddy').to-top.hide
  .fa.fa-rocket
