nav.main-navbar
  .wrapper
    a(href="/").menu-section.logo
      img(src='../assets/bg/sb_icon.png')
      p StudyBuddy
    .menu-section.menu
      a(href='#mission') Missione
      a(href='#roadmap') Roadmap
      a(href='#team') Team