section.section-header#studybuddy
  img.floating-timer.img-fluid(src='../assets/bg/timer.png', alt='timer', width='700', height='300', loading='lazy')
  .container.col-xxl-8.px-4.py-3
    .row.flex-column.align-items-left.g-2.p-4
      .col-12
        //- h1.display-1.fw-bold.lh-1.mb-3.mt-3.text-center StudyBuddy
        h1.display-3.fw-bold.lh-1.ma-3 Il tuo assistente all'
          span.orange-text Università
      .sub-header
        h2.text-left Il tempo è tuo amico o nemico?
          br
          |Con StudyBuddy la scelta è tua 
        p.lead Dimentica l'ansia da ultimo giorno nella 
          strong preparazione degli esami
          |, metti in pratica i tuoi piani di studio con il nostro 
          strong timer 
          | innovativo!
        button.btn.btn-primary.call-to-action(id = 'btn-login', onclick = 'login()') Registrati Ora
        .social
          include ./fragments/social.pug
