section.section-header
  .container.col-xxl-8.px-4.py-5
    .row.flex-lg-row-reverse.align-items-center.g-5.py-5
      .col-10.col-sm-8.col-lg-6
        img.d-block.mx-lg-auto.img-fluid(src='../assets/bg/estudianti.png', alt='Bootstrap Themes', width='700', height='500', loading='lazy')
      .col-lg-6
        h1.display-4.fw-bold.lh-1.mb-3 Il tuo assistente all'Università
        p.lead
          | StudyBuddy offrirà una serie di strumenti per  organizzare e pianificare lo studio 
        .d-grid.gap-2.d-md-flex.justify-content-md-start
          button.btn.btn-primary.btn-lg.px-4.me-md-2(type='button') Rispondi al questionario
          button.btn.btn-outline-primary.btn-lg.px-4(type='button') Provalo