section.newsletter 
    .newsletter-wrapper.box
        img.top-img(src='../assets/img/newsletter.png')
        .form
            .text-box
                img.side-img(src='../assets/img/newsletter.png')
                .text
                    h3 Resta in contatto
                    p Resta aggiornato sui nostri progressi!
            form
                input.form-control(type='email' placeholder='La tua email')
                button.btn.btn-primary(type='submit') Iscriviti
            .social
                a(href="https://www.google.it" target="_blank")
                    i.fa-brands.fa-instagram
                a(href="https://www.google.it" target="_blank")
                    i.fa-brands.fa-telegram
                a(href="https://www.google.it" target="_blank")
                    i.fa-brands.fa-twitter
                a(href="https://www.google.it" target="_blank")
                    i.fa-brands.fa-linkedin
                a(href="https://www.google.it" target="_blank")
                    i.fa-brands.fa-tiktok
