section.newsletter#newsletter 
    .newsletter-wrapper.box
        .form
            .text-box
                .text
                    h3 Prova il timer in anteprima
            button.btn.btn-primary(id = 'btn-login', onclick = 'login()') Provala ora!
            //.social
                include ./fragments/social.pug
