section.newsletter 
    .newsletter-wrapper.box
        img.top-img(src='../assets/img/newsletter.png')
        .form
            .text-box
                img.side-img(src='../assets/img/newsletter.png')
                .text
                    h3 Resta in contatto
                    p Resta aggiornato sui nostri progressi!
            form(action="https://formsubmit.co/d6d13748e9012c5c053a84cc8fdf3375" method="POST" )
                input.form-control(name='email' type='email' placeholder='La tua email')
                button.btn.btn-primary(type='submit') Iscriviti
            .social
                include ./fragments/social.pug
