section.newsletter 
    .newsletter-wrapper.box
        img.top-img(src='../assets/img/newsletter.png')
        .form
            .text-box
                img.side-img(src='../assets/img/newsletter.png')
                .text
                    h3 Diventa un tester
                    p  Se vuoi essere tra i primi a provare StudyBuddy, lasciaci la tua email e ti contatteremo appena sarà disponibile!
            form
                input.form-control(type='email' placeholder='La tua email')
                button.btn.btn-primary(type='submit') Iscriviti
            .social
                include ./fragments/social.pug
