section.newsletter#newsletter 
    .newsletter-wrapper.box
        img.top-img(src='../assets/img/newsletter.png')
        .form
            .text-box
                img.side-img(src='../assets/img/newsletter.png')
                .text
                    h3 Provalo in anteprima
                    p  Se vuoi essere tra i primi a provare StudyBuddy, accedi premendo qui sotto!

            button.btn.btn-primary(id = 'btn-login', onclick = 'login()') Provala ora!

            .social
                include ./fragments/social.pug
