section.sb-card-wrapper.pomoflex#pomoflex
  .sb-card.frost
    .img
      img.d-block.mx-lg-auto.img-fluid(src='../assets/bg/pomo.png', alt='timer', width='700', height='300', loading='lazy')
    .text
      h3.display-5.fw-bold.lh-1.mb-3 Prendi il controllo del tuo tempo con il nostro timer flessibile
      p.lead
        | La tecnica del pomodoro non è nuova, ma noi l'abbiamo migliorata, rendendola flessibile e adattabile alle tue esigenze, scopri di più 
        a(href="/pomoflex.html") qui
      button.btn.btn-primary(id = 'btn-login', onclick = 'login()') Ottimizza il tuo tempo!

      //- .social
      //-     include ./fragments/social.pug
