section.sb-card-wrapper.pomoflex#pomoflex
  .sb-card.frost
    .img
      img.d-block.mx-lg-auto.img-fluid(src='../assets/img/bg/pomo.webp', alt='pomodoro and books', width='700', height='300', loading='lazy')
    .text
      h3.display-5.fw-bold.lh-1.mb-3 Prendi il controllo del tuo tempo con il nostro timer innovativo
      p.lead
        | La tecnica del pomodoro non è nuova, ma noi l'abbiamo migliorata, rendendola flessibile e adattabile alle tue esigenze. Scopri di più 
        a(href="/pomoflex.html") qui
      a.btn.btn-primary(id = 'btn-login3', href = 'https://test.studybuddy.it', target='_blank') Ottimizza il tuo tempo

      //- .social
      //-     include ./fragments/social.pug
