section.pomoflex#pomoflex
  .container.col-xxl-8.px-4.py-3
    h1.display-5.fw-bold.lh-1.mb-3 il metastudio
    p.lead
        | Il nostro focus è su tutto quello che circonda il materiale di studio, che a noi piace chiamare metastudio, ovvero tutto quello che non è lo studio in se, ma che è necessario per studiare.
        | informazioni sull'esame, l'indice dei contenuti, i link alla didattica online, scadenze varie. Tu dovrai solo preoccuparti di studiare, il resto lo facciamo noi.
    button.btn.btn-primary(id = 'btn-login4', onclick = 'login()') Metastudia con noi!