section.pomoflex#science
  .container.col-xxl-8.px-4.py-3

    h1.display-5.fw-bold.lh-1.mb-3  È scientificamente provato!
    p.lead
        | Ci basiamo sui principi dell' evidence based learning come la 
        a(href="https://en.wikipedia.org/wiki/Metacognition") metacognizione 
        | e la 
        a(href="https://it.wikipedia.org/wiki/Ripetizione_dilazionata") spaced repetition 
        | qualche esempio:
        ul 
        li 
            a( href= "https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0245066" target="_blank") un sistema di gestione del tempo migliora risultati e benessere

        li 
            a( href= "https://www.sciencedirect.com/science/article/abs/pii/S0010027710002994?via%3Dihub" target="_blank") Perchè ha senso fare le pause
        li 
            a( href= "https://akjournals.com/view/journals/2006/8/3/article-p395.xml" target="_blank") Usare il telefono non vale come pausa

        li 
            a( href= "https://www.coursera.org/learn/learning-how-to-learn" target="_blank") Learning how to learn by Barbara Oakley 
    button.btn.btn-primary(id = 'btn-login', onclick = 'login()') Segui la scienza!