section.services#mission
  h2.text-primary La nostra missione
  .services-list
    .service.box
      img(src='../assets/img/mission/organization.svg')
      h3.text-primary Pianificazione
      p StudyBuddy semplifica la tua vita, eliminando la necessità di preoccuparti della pianificazione degli esami. Con la nostra interfaccia intuitiva, potrai creare un piano di studio personalizzato in modo rapido ed efficiente, consentendoti di concentrarti su ciò che conta davvero.
    .service.box
      img(src='../assets/img/mission/optimization.svg')
      h3.text-primary Produttività
      p Massimizza la tua produttività con gli strumenti adatti: prova il nostro innovativo timer per la concentrazione e sfrutta al meglio il tuo tempo di studio per ottenere risultati straordinari con meno sforzo!

    .service.box
      img(src='../assets/img/mission/motivation.svg')
      h3.text-primary Motivazione
      p Scopri come mantenere alta la tua motivazione durante le sessioni di studio. Con StudyBuddy, troverai il supporto necessario per rimanere sempre concentrato e appassionato nel perseguire i tuoi obiettivi accademici. Studiare non sarà mai stato così gratificante!