section.services#mission
  h2.text-primary I nostri principi
  .services-list
    .service.box
      img(src='../assets/img/mission/pianificazione.jpg')
      h3.text-primary Pianificazione
      p testo breve e realistico ma dai non cosi breve facciamo tipo cosi 
    .service.box
      img(src='../assets/img/mission/optimization.svg')
      h3.text-primary Produttività
      p testo breve e realistico ma dai non cosi breve facciamo tipo cosi 

    .service.box
      img(src='../assets/img/mission/motivation.svg')
      h3.text-primary Benessere psicofisico
      p testo breve e realistico ma dai non cosi breve facciamo tipo cosi 
