section.services#mission
  h2.text-primary La nostra missione
  .services-list
    .service.box
      img(src='../assets/img/mission/organization.png')
      h3.text-primary Organizzare
      p StudyBuddy ti accompagnerà dal primo giorno di lezioni fino all'ultimo esame mettendoti a disposizione tutti gli strumenti necessari a riuscire nell'impresa.
    .service.box
      img(src='../assets/img/mission/optimization.png')
      h3.text-primary Ottimizzare
      p StudyBuddy ti permetterà di risparmiare tempo nella fase di pianificazione 
    .service.box
      img(src='../assets/img/mission/motivation.png')
      h3.text-primary Motivare
      p Una componente importante di una buona sessione di studio è avere voglia di farlo, Studybuddy ti aiuterà anche in questo