section.values#values
  h2.text-primary I nostri principi
  .values-list
    .service.box
      img(src='../assets/img/planning.png')
      h3.text-primary Pianificazione
      p 
      p Siamo convinti che una pianificazione accurata sia il fondamento essenziale per uno studio efficace.
    .service.box
      img(src='../assets/img/productivity.png')
      h3.text-primary Produttività
      p
      p Essere produttivi è il risultato diretto di un efficiente utilizzo del proprio tempo.


    .service.box
      img(src='../assets/img/health.png')
      h3.text-primary Benessere psicofisico
      p Non siamo macchine da esami ma persone: gestire meglio il tempo ti permette di dedicarti anche a te e alle tue passioni.
