section.values#soon
  h2.text-primary Prossimi passi
  .values-list
    .service.box
      img(src='../assets/img/soon/exam.webp', alt='exam')
      h3.text-primary Esami precompilati
      p Con i dati della tua Università.
    .service.box
      img(src='../assets/img/soon/automatize.webp', alt='automatize')
      h3.text-primary Piani di studio automatici 
      p Personalizzati secondo le tue esigenze.
      
    .service.box
      img(src='../assets/img/soon/extension.webp', alt='extension')
      h3.text-primary Chrome extension
      p Per avere il tempo sempre sotto controllo.