section.values#soon
  h2.text-primary Prossimi passi
  .values-list
    .service.box
      img(src='../assets/img/mission/organization.svg')
      h3.text-primary Esami precompilati
      p coni dati della tua università
    .service.box
      img(src='../assets/img/mission/optimization.svg')
      h3.text-primary piani di studio automatici 
      p personalizzati secondo le tue esigenze
      
    .service.box
      img(src='../assets/img/mission/motivation.svg')
      h3.text-primary chrome extension
      p per avere il tempo sempre sotto controllo