section.services#mission
  h2.text-primary Presto su studybutty
  .services-list
    .service.box
      img(src='../assets/img/mission/organization.svg')
      h3.text-primary Chrome Extension
      p per avere il timer sempre a portata di mano
    .service.box
      img(src='../assets/img/mission/optimization.svg')
      h3.text-primary Esami precompilati in base al syllabus
      
    .service.box
      img(src='../assets/img/mission/motivation.svg')
      h3.text-primary calendario con pianificazione automatica
      p Inserisci il tuo esame e delega a noi la pianificazione, cosi puoi concentrarti su ciò che conta davvero: lo studio e le tue passioni