section.roadmap#roadmap
  h2.text-primary Roadmap
  .roadmap-wrapper
    img(src='../assets/img/roadmap.png')
    .milestone.box
      h3.text-secondary Prototipo
      p Scorso semestre
    .milestone.box
      h3.text-secondary Test
      p  Questo semestre
    .milestone.box
      h3.text-secondary Lancio
      p Prossimo semestre
