section.roadmap#roadmap
  h2.text-primary Roadmap
  .roadmap-wrapper
    img(src='../assets/img/roadmap.png')
    .milestone.box
      h3.text-secondary MVP
      p Marzo 2023
    .milestone.box
      h3.text-secondary Test
      p Giugno 2023
    .milestone.box
      h3.text-secondary Launch
      p Settembre 2023
