section.team#team
  h2.text-primary Il Team
  .team-wrapper
    a(href="https://gandelli.dev" target="_blank")
      .team-card.box
        img(src='../assets/img/team/alessio.jpg')
        h3.text-secondary  Alessio
        p CEO
    a(href="https://www.google.com/search?q=gabriele" target="_blank")
      .team-card.box
        img(src='../assets/img/team/gabriele.jpg')
        h3.text-secondary Gabriele
        p CTO
    a(href="https://toscan.dev" target="_blank")
      .team-card.box
        img(src='../assets/img/team/nicola.jpg')
        h3.text-secondary Nicola
        p Developer
    a(href="https://www.tiktok.com/@angelobernesco" target="_blank")
      .team-card.box
        img(src='../assets/img/team/angelo.jpg')
        h3.text-secondary Angelo
        p Social Media Manager