section.team#team
  h2.text-primary Il Team
  .team-wrapper
    a(href="https://www.linkedin.com/in/alessiogandelli/" target="_blank")
      .team-card.box
        img(src='../assets/img/team/alessio.jpg')
        h3.text-secondary  Alessio
        p Università di Trento
        p Co-Founder
    a(href="https://www.linkedin.com/in/gabriele-salvi-b7a748263/" target="_blank")
      .team-card.box
        img(src='../assets/img/team/gabriele.jpg')
        h3.text-secondary Gabriele
        p Università di Brescia
        p Co-Founder
    a(href="https://toscan.dev" target="_blank")
      .team-card.box
        img(src='../assets/img/team/nicola.jpg')
        h3.text-secondary Nicola
        p KTH Stockolm
        p Developer
  
  .closing
    h2.text-secondary Siamo in missione per cambiare il futuro dell'apprendimento
    button.btn.btn-primary(id = 'btn-login', onclick = 'login()') Unisciti a noi!
