footer
  .logo 
    img(src='../assets/bg/sb_icon.png')
    p StudyBuddy
  .follow
    include ./fragments/social.pug
  .info
    div.legal
      a(href="https://www.google.it" target="_blank") Privacy Policy
      a(href="https://www.google.it" target="_blank") Legal Stuff
    p Fatto con ❤️ dal team StudyBuddy