footer
  a(href="/") 
    .logo 
      img(src='../assets/img/bg/sb.webp', alt="background" height='50', loading='lazy')
      p StudyBuddy
      
  a.contattaci(href='mailto:info@studybuddy.it') Contattaci!

  .follow
    include ./fragments/social.pug
  .info
    div.legal
      a(href="./policy.html") Privacy Policy
    p Fatto con ❤️ dal team StudyBuddy