section.main 
    p 
    p 
    h1 Cancellazione Account 
    p 
    h2 Cancella il tuo account in maniera definitiva 

    p Se desideri cancellare il tuo account, mandaci una mail a info@studybuddy.it oppure tramite le impostazioni dell'applicazione mobile.

