section.policy 
  h2 Mission and Vision
  p StudyBuddy è una piattaforma progettata per aiutare gli studenti Universitari ad affrontare gli esami. 
  | Offriamo una serie di strumenti per aiutare gli studenti a pianificare e monitorare i loro progressi, a rimanere motivati e a condividere le loro strategie di apprendimento con i colleghi. 
  | Con StudyBuddy, la pianificazione dello studio diventa più facile che mai. Aiutaci a diffondere la parola e se sei uno studente rispondi al quesitonario cosi che possiamo cucire StudyBuddy secondo le tue esigenze!
  h3 Mission 
  p La nostra missione è di facilitare gli studenti nel travagliato percorso universitario 
  | dando loro la possibilità di dedicarsi allo studio dedicando il meno tempo possibile all'organizzazione dello stesso.
  | I nostri principi fondanti sono organizzazione, ottimizzazione e motivazione
  ul 
    li Pianificare: pianificare gli esami può essere un'attività che potrebbe consumare molto tempo senza gli strumenti e le nozioni giuste
    li Produttività: StadyBuddy centralizza tutti gli strumenti necessari a studiare nel modo piu efficace possibile, evitando di dover usare 10 app diverse. Inoltre ti permetterà di imparare nuove tecniche di studio 
    li Motivazione: Senza la giusta motivazione non c'è produttività che regga, StudyBuddy proverà anche ad aiutare su questo fronte.

  p Crediamo che la consapevolezza sia alla base di ogni processo di apprendimento, perciò StudyBuddy ti mostrerà i dati sulle tue sessioni di studio aiutandoti a interpretarli al meglio e a migliorare il tuo modo di studiare.

  h3 Vision
  p La nostra visione è quella di diventare il punto di riferimento per gli studenti universitari che vogliono studiare in modo efficace e produttivo. Vogliamo accompagnare gli studenti nel percorso universitario facendolo vivere con meno stress e più serenità e con risultati migliori.  

