section.pomopage
   h2 Abbiamo aggiornato la tecnica del pomodoro alla luce dei feedback ricevuti dagli studenti.
   h3 La tecnica del pomodoro 
   p Inventata alla fine degli anni ‘80 dall’allora studente universitario Francesco Cirillo che, in difficoltà con la concentrazione e le scadenze, si impose un breve lasso di tempo da dedicare senza interruzione a un compito specifico, fino al suono di un timer da cucina a forma di pomodoro (da qui il nome della tecnica).
   p La tecnica del Pomodoro prevede brevi sessioni di concentrazione da 25 minuti interrotte da 5 minuti di pausa. Dopo 4 iterazioni così composte si completa un ciclo completo del Pomodoro (= 2 ore di studio) e ci si concede una pausa più lunga, da 15 a 30 minuti, prima di riprendere con un nuovo ciclo.
   h3 I limiti di questa tecnica
   ul
       li 25 minuti sono pochi anche solo per raggiungere la concentrazione necessaria
       li preferisco fare pausa liberamente e non dopo un tempo prestabilito
       li 5 minuti di pausa sono pochi, non riesco mai a rispettarli
       li preferisco organizzarmi in base a pagine/capitoli e non a tempo
   p Per risolvere questi difetti intrinseci che rendono la tecnica decisamente non adatta a tutti, abbiamo sviluppato la tecnica del Pomodoro Flessibile.
   h3 Il pomodoro flessibile
   p Semplicemente si imposta quanto tempo si vuole dedicare alla sessione di studio (_es. 2 ore_) e quante pause si vogliono fare (_es. 3 break da 5 minuti_) e si fa partire il timer.
   p A differenza del Pomodoro classico, sei tu a decidere dopo quanto tempo fare pausa e per quanto tempo. I valori impostati all’inizio servono solo da linea guida ma non vanno necessariamente seguiti al centesimo di secondo. Inoltre, raggiunta la durata della sessione preimpostata, il timer va avanti finché non sarai tu a fermarlo!
   p Ora spazio alle vostre domande:
   h4 Posso usare i tempi del pomodoro classico nel pomodoro flessibile?
   p Certo che sì! Il timer flessibile ti avvisa con un breve suono quando sarebbe il momento di fare pausa, in modo da distribuire equamente le pause all’interno della sessione di studio. Se segui con attenzione i valori preimpostati (2 ore, 3 pause da 5 minuti), starai eseguendo alla perfezione il pomodoro classico!
   h4 Se alla fine della sessione ho ancora energia e concentrazione, posso proseguire o devo far ripartire tutto da capo?
   p Se dopo le 2 ore di studio ne hai ancora, puoi continuare a piacimento. Il timer si ferma solo quando sei tu a premere STOP.
   h4 Cosa ottengo in più rispetto al Pomodoro classico?
   p Con il Pomodoro Flessibile sei tu a decidere _quando_ fare pausa e _per quanto tempo_, andando ad abbattere i limiti ferrei tipici della tecnica classica. La durata della sessione di studio è modificabile e per questo più facilmente gestibile tra gli altri impegni della vita quotidiana.
   p Inoltre alla fine della sessione ottieni un resoconto con il tempo effettivamente speso a studiare e a fare pausa, in modo da acquisire più consapevolezza di come hai utilizzato il tuo tempo e ad aumentare la tua motivazione per il traguardo raggiunto!