section.services
    h2.text-primary Missione
    .services-list
        .service
            h3.text-primary Service 1
            img(src='https://picsum.photos/150/150?random=1')
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vel tincidunt aliquam, nunc nisl aliquet nisl, eget aliquam nisl nisl sit amet lorem. Sed euismod, nisl vel tincidunt aliquam, nunc nisl aliquet nisl, eget aliquam nisl nisl sit amet lorem.
        .service
            h3.text-primary Service 2
            img(src='https://picsum.photos/150/150?random=2')
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vel tincidunt aliquam, nunc nisl aliquet nisl, eget aliquam nisl nisl sit amet lorem. Sed euismod, nisl vel tincidunt aliquam, nunc nisl aliquet nisl, eget aliquam nisl nisl sit amet lorem.
        .service
            h3.text-primary Service 3
            img(src='https://picsum.photos/150/150?random=3')
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vel tincidunt aliquam, nunc nisl aliquet nisl, eget aliquam nisl nisl sit amet lorem. Sed euismod, nisl vel tincidunt aliquam, nunc nisl aliquet nisl, eget aliquam nisl nisl sit amet lorem.