.cookie.box.hide
  img(src="./assets/img/cookie.png" alt="Cookie")
  p.cookie-title Vuoi i biscottini?
  p I biscottini ci aiutano a far andare meglio il nostro sito, mangiali!
  .cookie-buttons
    button.btn.btn-outline-primary No grazie
    button.btn.btn-primary.cookie-close Accetto