a(href="https://www.instagram.com/studybuddy.ita/" target="_blank")
  i.fa-brands.fa-instagram
  span.sr-only Follow us on Instagram
a(href="https://t.me/stubud" target="_blank")
  i.fa-brands.fa-telegram
  span.sr-only Join us on Telegram
a(href="https://www.linkedin.com/company/studybuddio/about/" target="_blank")
  i.fa-brands.fa-linkedin
  span.sr-only Connect with us on LinkedIn
a(href="https://github.com/studybuddydev" target="_blank")
  i.fa-brands.fa-github
  span.sr-only Check out our code on GitHub
a(href="https://discord.com/invite/wscTEHjhkW" target="_blank")
  i.fa-brands.fa-discord
  span.sr-only Join our Discord community