a(href="https://www.google.it" target="_blank")
  i.fa-brands.fa-instagram
a(href="https://www.google.it" target="_blank")
  i.fa-brands.fa-telegram
a(href="https://www.google.it" target="_blank")
  i.fa-brands.fa-linkedin
a(href="https://github.com/studybuddydev" target="_blank")
  i.fa-brands.fa-github
a(href="https://www.google.it" target="_blank")
  i.fa-brands.fa-twitter
a(href="https://www.google.it" target="_blank")
  i.fa-brands.fa-tiktok