a(href="https://www.instagram.com/studybuddy.ita/" target="_blank")
  i.fa-brands.fa-instagram
a(href="https://t.me/stubud" target="_blank")
  i.fa-brands.fa-telegram
a(href="https://www.linkedin.com/company/studybuddio/about/" target="_blank")
  i.fa-brands.fa-linkedin
a(href="https://github.com/studybuddydev" target="_blank")
  i.fa-brands.fa-github
a(href="https://discord.com/invite/wscTEHjhkW" target="_blank")
  i.fa-brands.fa-discord