.main-navbar {
  position: fixed;
  top: 0;
  width: calc(100vw - 8px);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);

  .btn-login {
    border-radius: 1em;
    font-weight: 600;
  }

  a,
  p {
    margin: 0;
    text-decoration: none;

    .beta {
      color: white;
      background-color: $primary;
      padding: 0.2em 0.3em;
      border-radius: 0.5em;
      font-weight: 500;
    }
  }

  img {
    height: 3rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 0.5rem 5vw;

    .menu-section {
      display: flex;
      align-items: center;
      justify-items: center;

      p {
        font-size: 1.5em;
        font-weight: bold;
      }
    }

    .logo {
      justify-self: flex-start;

      img {
        border-radius: 50%;
      }

      p {
        color: $black;
      }
    }

    .menu {
      justify-self: flex-end;

      a {
        padding: 0 2.5vw;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
    .survey {
      font-weight: bold;
      letter-spacing: 0.03rem;
      .btn {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
      }
    }




    
    @media screen and (max-width: 850px) {
      flex-direction: column;

      .survey {
        display: none;
      }

      .logo {
        justify-self: center !important;

        img {
          height: 3rem;
        }

        p {
          font-size: 1.5em;
        }
      }

      .menu {
        justify-self: center !important;
      }
    }
  }
}

.to-top {
  position: fixed;
  bottom: 3.5rem;
  right: 1rem;
  z-index: 1;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  transform: rotate(-45deg);

  &:hover {
    transform: scale(1.1) rotate(-45deg);
  }
}