.section-header {
  background-image: url(../assets/bg/hero-header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 18vh;
  

  h2 {
    margin: 1em 0 0.5em 0;
  }
  .row {
    justify-content: center;
  }

  .btn-primary {
    color: $white;
  }

  .img-wrapper {
    justify-content: center;
  }
  button {
    margin: 0.5rem 0;
    font-size: 2rem;
  }

  .lead {
    font-weight: 400;
    margin-bottom: 2em;
  }

  .floating-timer {
    position: absolute;
    right: -20%;
    bottom: -20%;
    z-index: -10;

    width: 70vw;
    min-width: 600px;
    max-width: 800px;
    opacity: 0.3;
  }
  .sub-header {
    display: flex;
    flex-direction: column;
    width: 60vw;
    .call-to-action {
      width: 11em;
      align-self: center !important;
      font-weight: 600;
      padding: 0.5em 1em;
      border-radius: 0.5em;
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    a {
      padding: 0.8rem;
      &:hover {
        // shadow effect filter with lighter $secondary;
        filter: drop-shadow(0 0 0.75rem rgba($secondary, .2));
      }
    }
    @media screen and (max-width: 700px) {
  
      a {
        padding: 0.5rem;
      }

    }
  }

  @media screen and (max-width: 700px) {
  h1 {
    font-size: 2.5rem;
  }
    h2 {
      font-size: 2rem;
    }
    .sub-header {

      width: 90vw;
    }


  }

}
