.team {
  .team-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    .team-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      border-radius: 1rem;

      img {
        height: 15rem;
        width: 15rem;
        border-radius: 1em 1em 0 0;
      }

      h3 {
        font-size: 2rem;
        margin-top: 0.5em;
        margin-bottom: 0.3em;
        color: $secondary;
      }

      p {
        color: $black;
      }

    }
  }
}

.closing {
  max-width: 1000px;
  margin: 4em auto 2em;
  padding: 1em;
  text-align: center;

  .btn {
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: 1.5em;
    border-radius: 0.5em;
  }
}