.section-header {
    background-image: url(../assets/bg/hero-header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 12vh;

    .btn-primary {
        color: $white;
    }
}