$blue: #0088B4;
$indigo: #6237FF;
$purple: #A1B0FC;
$pink: #D42DA3;
$red: #F95C19;
$orange: #F17228;
$yellow: #FFAF0F;
$green: #00BA77;
$teal: #53F283;
$cyan: #00CEC2;
$white: #FFFEFE;
$gray: #7B7A8B;
$gray-dark: #464558;
$primary: #F95C19;
$secondary: #00CEC2;
$success: #00BA77;
$info: #00CEC2;
$warning: #FFAF0F;
$danger: #F95C19;


$theme-colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray,
    "gray-dark": $gray-dark,
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
);

@import "../../node_modules/bootstrap/scss/bootstrap";
    
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.parallax-wrapper {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF7E7), to(#FFF1DC));

    .parallax-image {
        opacity: 0.6;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateZ(-1px);

        
    }
    main {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateZ(0);
    }
}


@import "header";
@import "services";