.main-navbar {
  position: fixed;
  top: 0;
  width: calc(100vw - 8px);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);

  .btn-login {
    border-radius: 1em;
    font-weight: 600;
  }

  a,
  p {
    margin: 0;
    text-decoration: none;
  }

  img {
    height: 3rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 0.5rem 5vw;

    .menu-section {
      display: flex;
      align-items: center;
      justify-items: center;

      p {
        font-size: 1.5em;
        font-weight: bold;
      }
    }

    .logo {
      justify-self: flex-start;

      img {
        border-radius: 50%;
      }

      p {
        color: $black;
      }
    }

    .menu {
      justify-self: flex-end;

      a {
        padding: 0 1rem;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
    .survey {
      font-weight: bold;
      letter-spacing: 0.03rem;
      .btn {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
      }
    }




    
    @media screen and (max-width: 768px) {
      flex-direction: column;

      .survey {
        display: none;
      }

      .logo {
        justify-self: center !important;

        img {
          height: 3rem;
        }

        p {
          font-size: 1.5em;
        }
      }

      .menu {
        justify-self: center !important;
      }
    }
  }
}