html
  include ./pug/00_head.pug
  body
    include ./pug/01_navbar.pug

    .parallax-wrapper.scrollbar
      .parallax-image
        img(src='../assets/bg/bg.png')
      main
        include ./pug/deepwork/00_intro.pug
        include ./pug/90_footer.pug
