doctype html
html
  include ./pug/00_head.pug
  body
    include ./pug/01_navbar.pug
    include ./pug/fragments/cookie.pug
    //include ./pug/fragments/cookie.pug
    .parallax-wrapper.scrollbar
      .parallax-image
        img(src='../assets/bg/bg.png')
      main
        include ./pug/10_header.pug
        include ./pug/21_product.pug
        <!--include ./pug/20_newsletter.pug -->
        <! --include ./pug/22_metastudio.pug -->
        include ./pug/23_science.pug
        include ./pug/30_services.pug
        include ./pug/31_soon.pug
        <!-- include ./pug/40_roadmap.pug  -->
        include ./pug/50_team.pug
        include ./pug/90_footer.pug
