doctype html
html
  include ./pug/head.pug
  body
    include ./pug/navbar.pug
    .parallax-wrapper
      .parallax-image
        img(src='../assets/bg/bg.png')
      main
        include ./pug/header.pug
        include ./pug/services.pug
        include ./pug/footer.pug
