doctype html
html
  include ./pug/includes/head.pug
  body
    include ./pug/sections/navbar.pug
    .parallax-wrapper
      .parallax-image
        img(src='../assets/bg/bg.png')
      main
        include ./pug/sections/header.pug
        include ./pug/sections/services.pug
