doctype html
html
  include ./pug/00_head.pug
  body
    include ./pug/01_navbar.pug
    .parallax-wrapper
      .parallax-image
        img(src='../assets/bg/bg.png')
      main
        include ./pug/02_header.pug
        include ./pug/03_services.pug
        include ./pug/04_footer.pug
