doctype html
html
  include ./pug/00_head.pug
  body
    include ./pug/01_navbar.pug
    .parallax-wrapper
      .parallax-image
        img(src='../assets/bg/bg.png')
      main
        include ./pug/10_header.pug
        include ./pug/20_newsletter.pug
        include ./pug/30_services.pug
        include ./pug/90_footer.pug
